/*CSS Style sheet for css_box_model.html*/

body {
	font-weight: bold;
	color: white;

}



#bigbox {
	width: 450px;
	height: 311px;
	border: 1px solid black;
	margin: 5px;
}

#redbox {
	width: 110px;
	height: 50px;
	margin: 20px;
	float: left;
	/*border: 1px solid black;*/
}

#red {
	border: 1px solid black;
	background-color: #d84231;
	height: 70px;
	width: 70px;
	padding: 1px;
	/*margin-bottom: 10px;*/
	float: left;
}

#pukebox {
	width: 120px;
	height: 125px;
	float: left;
	/*border: 1px solid black;*/
}

#puke {
	border: 1px solid black;
	background-color: #eaae33;
	height: 70px;
	width: 70px;
	padding: 1px;
	/*margin-left: 30px;
	margin-bottom: 10px;*/
	float: left;
}

#yellowbox {
	width: 120px;
	height: 125px;
	float: left;
	/*border: 1px solid black;*/
}

#yellow {
	border: 1px solid black;
	background-color: #fdf733;
	height: 70px;
	width: 70px;
	padding: 1px;
	/*margin-left: 60px;
	margin-bottom: 10px;*/
	float: left;
}

#greenbox {
	width: 120px;
	height: 125px;
	float: left;
	/*border: 1px solid black;*/
}

#green {
	border: 1px solid black;
	background-color: #578c05;
	height: 70px;
	width: 70px;
	padding: 1px;
	float: left;
	/*margin-left: 90px;
	margin-bottom: 10px;*/
}

#bluebox {
	width: 120px;
	height: 125px;
	float: left;
	/*border: 1px solid black;*/
}

#blue {
	border: 1px solid black;
	background-color: #234afb;
	height: 70px;
	width: 70px;
	padding: 1px;
	float: left;
	/*margin-left: 120px;
	margin-bottom: 10px;*/
}

#purplebox {
	width: 120px;
	height: 125px;
	float: left;
	/*border: 1px solid black;*/
}

#purple {
	border: 1px solid black;
	background-color: #df8bf0;
	height: 70px;
	width: 70px;
	padding: 1px;
	float: left;
	/*margin-left: 150px;
	margin-bottom: 10px;*/
}