/*CSS Style sheet for css_box_model.html*/

body {
	font-weight: bold;
	color: white;

}



#bigbox {
	width: 500px;
	height: 311px;
	margin: 0px 0px 0px 0px;
}

.arrow {
/*	position: relative;*/
	float: right;
}

.colorbox {
	width: 115px;
	height: 100px;
	margin: 0px 15px 20px 0px;
	position: relative;
	float: left;

	/*border: 1px solid black;*/
}

/*#redbox {
	width: 110px;
	height: 50px;
	margin: 20px;
	float: left;
}*/

#red {
	border: 1px solid black;
	background-color: #d84231;
	height: 70px;
	width: 70px;
	position: absolute;
        top: 40px;
        right: 43px;
/*	clear: right;*/
}

/*#pukebox {
	width: 120px;
	height: 125px;
	float: left;
}*/

#puke {
	border: 1px solid black;
	background-color: #eaae33;
	height: 70px;
	width: 70px;
	position: absolute;
        top: 40px;
        right: 40px;
	float: left;
}

/*#yellowbox {
	width: 120px;
	height: 125px;
	float: left;
}*/

#yellow {
	border: 1px solid black;
	background-color: #fdf733;
	height: 70px;
	width: 70px;
	position: absolute;
        top: 40px;
        right: 40px;
	float: left;
}

/*#greenbox {
	width: 120px;
	height: 125px;
	float: left;
}*/

#green {
	border: 1px solid black;
	background-color: #578c05;
	height: 70px;
	width: 70px;
	float: left;
	position: absolute;
        top: 40px;
        right: 40px;
}

/*#bluebox {
	width: 120px;
	height: 125px;
	float: left;
}*/

#blue {
	border: 1px solid black;
	background-color: #234afb;
	height: 70px;
	width: 70px;
	float: left;
	position: absolute;
        top: 40px;
        right: 40px;

}

/*#purplebox {
	width: 120px;
	height: 125px;
	float: left;
}
*/
#purple {
	border: 1px solid black;
	background-color: #df8bf0;
	height: 70px;
	width: 70px;
	float: left;
	position: absolute;
        top: 40px;
        right: 40px;
}